.vscode/
venv/*
venv/
*.pyc
__pycache__
*.out
.git
Dockerfile
gke.yaml
websocket.txt
*.bin
filedowload*
.terraform
credentials*
*.tfstate*
terraform/
kubernetes/
websocket.txt
.certs
.certs*
.certs-self
mount/
jmeter.log
.fuse_hidden*
helm/
jmeter/
terraform/
.vscode/
cloudrun/
api_gateway/
openapi/
cloudbuild.yaml
fla_Dockerfile